<tr>
  <td class="text-center"><%= badge.name %></td>
  <td class="text-center"><%= image_tag(badge_image(badge), size: "36") %></td>
  <td class="text-center"><%= badge.rule_type %></td>
  <td class="text-center"><%= badge.rule_value %></td>
</tr>
