<div class="mt-3 ml-3">
  <p>_________________</p>
  <p>Author: Belyshev Alexandr. <%= current_year %></p>
  <%= github_url('avbelyshev', 'test_guru') { 'Test-guru on GitHub' } %>
  <br>
  <a href="http://www.thinknetica.com/" target="_blank">Educational project in online school Thinknetica</a>
</div>
