<div>
  <p>_________________</p>
  <p>Автор: Белышев Александр. <%= current_year %></p>
  <%= github_url('avbelyshev', 'test-guru') { 'Test-guru on GitHub' } %>
  <br>
  <a href="http://www.thinknetica.com/" target="_blank">Учебный проект в онлайн-школе Thinknetica</a>
</div>
