<div class="mt-3 ml-3">
  <p>_________________</p>
  <p>Автор: Белышев Александр. <%= current_year %></p>
  <%= github_url('avbelyshev', 'test_guru') { 'Тест-гуру на GitHub' } %>
  <br>
  <a href="http://www.thinknetica.com/" target="_blank">Учебный проект в онлайн-школе Thinknetica</a>
</div>
