<h1>Hello! New feedback from Test-Guru</h1>

<% user = @feedback.user %>
<p>From: <%= "#{user.first_name} #{user.last_name} (#{user.email})" %></p>
<p>Title: <%= @feedback.title %></p>
<p>Message: <%= @feedback.body %></p>
